*{
    outline: 2px solid red;
}
td {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    margin: 3px solid green !important;
}
img {
    width:100% !important;
   height:100% !important;
}
.cubro {
      visibility: hidden;

    background-color: coral;
}
.celda{
    width:100%;
    height: 100%;
    display:none;
}
.mostrar {
  background-color: coral;
}
/* td, tr {
    margin: 2% !important;
 

/* .bomba {
background-color: green;
}
.numer {
   background-image: url(../images/numero1.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   z-index: 1;
} */
#table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}